body {
	font: 18px/30px Sans-serif; color: #fff;
	padding: 0px;
	margin: 0px;
}

section {
	overflow-x: hidden;
	height: 750px;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#intro { 
	background: #16a085 url(introduction.png); 
	background-size: cover;
}

	#intro h1 {
		width: 849px; height: 73px;
		background: url(intro-title.png); text-indent: -9999px;
		position: relative; top: 20%; left: 0;
	}

	#intro p {
		position: relative; 
		top: 25%; 
		left: 26%;
		width: 40%; 
		margin: 0 0 3% 0;
	}

	#intro p:nth-child(2) {
		font-weight: bold;
	}


#textbike {
	background: #e74c3c url(textbike-bg.png);
	background-size: cover;
}

	#textbike h2 {
		text-indent: 0px;
		position: relative; 
		top: 8%; 
		left: 90px;
		font-size: 4em;
	}
	
	#textbike p {
		position: relative; 
		top: 5%;
		left: 8%;
		width: 45%;
	}

	#textbike-photo {
		position: relative;
		float: right; 
		top: 20%; 
		padding-right: 10%;
	}

#footer {
	background: #000;
}

	#footer p {
		text-align: center;
}	
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

html{
    height: 100%;
    overflow-x: hidden;
}

.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}
