<% provide(:title, 'Home') %>
<ul class="curtains">
	<li>
		<section id="intro">
			<h1>Jason Corum</h1>
			
			<p>Hello! I'm a Washington, DC-based Ruby on Rails web developer.</p>
		
			<p>After almost a decadle in online communications with a number of organizations in DC (Brookings, World Foof Program USA, and the Biotechnology Industry Organization), I have decided to switch over to coding. I am currently freelancing and I'm interested in becoming a full-time web developer.</p>
		
			<p>This site includes some examples of my work.</p>
		</section>
	</li>

	<li>
		<section id="textbike">		
			
			<%= image_tag "textbike.png", alt: "Bikes", id: "textbike-photo" %>
		
			<h2>TextBike.com</h2>

			<p>TextBike.com is the project I completed for my Back-End Web Development course with General Assembly. It uses Twilio and Capital Bikeshare XML data to notify users when their bikestation is low on bikes.</p>
	
		</section>
</li>

</ul>