<% provide(:title, 'Home') %>
		<section id="intro">
		<div class="row">
			<div class="col-md-9 col-md-offset-1">
				<p class= "headline">JASON CORUM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<p class="lead">Web Developer</p>
			</div>
		</div>
	</section>
</div>
