body {
	font: 18px/30px Sans-serif; color: #fff;
	padding: 0px;
	margin: 0px;
}

.container {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.row {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.col-md-12{
	padding: 0px;
	margin: 0px;	
}

p {
	font: 18px/30px Sans-serif;
	color: #fff;
}

h2 {
	color:white;
}

section {
	overflow-x: hidden;
	height: 100vh;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	color:white;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: underline;
}

#intro { 
	background: #16a085 url(introduction.png); 
	background-size: cover;
	-o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
}

	#intro h1 {
		width: 66%; 
		height: 73px;
		background: url(intro-title.png); 
		text-indent: -9999px;
		position: relative; 
		top: 10%; 
		left: 0;
	}

	#intro-title {
		float: left;
		width: 66%;
		height: auto;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#intro p {
		position: relative; 
		top: 15%; 
		left: 26%;
		width: 40%; 
		margin: 0 0 3% 0;
	}

	#intro p:nth-child(2) {
		font-weight: bold;
	}


#textbike {
	background: #e74c3c url(textbike-bg.png);
	background-size: cover;
	-o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
}

	#textbike h2 {
		position: relative; 
		margin-top: 10%; 
		margin-left: 8%;
		font-size: 4em;
	}
	
	#textbike p {
		position: relative;
		top: 5%;
		left: 8%;
		margin: 0 0 3% 0;
	}

	#textbike-photo {
		position: relative;
		float: right;
		margin-right: 10%;
		margin-top: 10%;
		margin-bottom: 5%;
		transform: rotate(7deg);
		-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	}

.footer {
	background: #000;
	height: 10%;
	padding: 1% 0 1% 0;
}

	.footer p {
		margin: 0 0 0 0;
		text-align: center;
}	