p {
	color: #222;
}

.content {
	width: 100%;
	min-height: 800px;
}

.headline {
	text-align: center;
	color: white;
}

h2 {
	color: white;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #ccc;
	margin: 1em 0;
	padding: 0;
	text-align: center;
	position: relative;
}

section {
	overflow-x: hidden;
	overflow-y: hidden;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
}

.navbar {
	padding: 5px 5px 5px 5px;
	border-radius: 0;
}

.navbar-brand {
  font-size: 24px;
  line-height: 26px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.github-icon {
	background: url(GitHub-Mark-32px.png);
	margin:  10px 10px 10px 10px;
	height: 32px;
	width: 32px;
}

.github-icon:hover {
	background: url(GitHub-Mark-Light-32px.png)
}

.linkedin-icon {
	background: url(LinkedIn-InBug.png);
	margin:  10px 10px 10px 10px;
	height: 32px;
	width: 32px;
}

.linkedin-icon:hover {
	background: url(LinkedIn-InBug-white.png)
}

.twitter-icon {
	background: url(Twitter_logo.png);
	margin:  10px 10px 10px 10px;
	height: 32px;
	width: 32px;
}

.twitter-icon:hover {
	background: url(Twitter_logo_white.png)
}

.resume-icon {
	background: url(file94-dark.png);
	margin:  10px 10px 10px 10px;
	height: 32px;
	width: 32px;
}

.resume-icon:hover {
	background: url(file94-white.png)
}

#intro { 
	background: #16a085 url(introduction.png); 
	min-height: 35em;
	width: 100%;
	padding: 5px 5px 5px 15px;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: none;
	background-size: cover;
	-o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
}

	#intro .headline {
	  font-size: 72px;
	  font-weight: 800;
	  text-align: left;
	  margin: 15% 0 0 0;
	}

	#intro .lead {
		font-size: 40px;
		color: white;
	}

	#intro p {
		position: relative; 
		margin: 0% 15% 3% 0;
	}

#work .textbike {
	margin: 1% 5% 5% 5%;
	height: auto;
	width: 40%;
	float: right;
	padding: 3px;
	padding: 8px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
}

#work .race {
	margin: 1% 5% 5% 5%;
	height: auto;
	width: 40%;
	float: left;
	padding: 3px;
	padding: 8px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}

	#work h3 {
	text-align: center;
	color: #222;
	margin: 60px 0 0 0;
	font-family: helvetica;
	font-weight: 300;
	font-size: 36px;
}

	#work p {
		color: #222;
		font-family: helvetica;
		font-size: 16px;
		padding: 3px;
	}

	#work .content-row{
		margin-bottom: 2em;
	}

	#work a {
		text-decoration: none;
		color: #fff;
	}	

	#work a:hover {
		text-decoration: none;
		color: #fff;
	}

	#work a:visited {
		text-decoration: none;
		color: #fff;
	}


#languages {
	background: #16a085; 
}

	#languages h3 {
		text-align: center;
		color: #222;
		margin: 60px 0 0 0;
		font-family: helvetica;
		font-weight: 300;
		font-size: 36px;
	}

	#languages .logo-row{
		text-align: center;
		margin-bottom: 3em;
	}

	#languages .logos {
		display: inline-block;
		padding: 8px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin: 5px 15px 15px 15px;
	}

.footer {
	background: #222;
	height: 50px;
}

	.footer ul {
		margin: 1% 0 1% 0;
		text-align: right;
}	
	.footer li {
		font-size: 16px;
		vertical-align: middle;
		color: #777;
	}