body {
	font: 2em Sans-serif; color: #fff;
}

.container-fluid {
    padding: 0px;
}

p {
	color: white;
}

h2 {
	color: white;
}

section {
	overflow-x: hidden;
	overflow-y: hidden;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	color:white;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: underline;
}

#intro { 
	background: #16a085 url(introduction.png); 
	background-size: cover;
	-o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
}

	#intro h1 {
		width: 66%; 
		height: 73px;
		background: url(intro-title.png); 
		text-indent: -9999px;
		position: relative; 
		margin: 10% 0 0 0;
	}

	#intro-title {
		float: left;
		width: 66%;
		height: auto;
		margin: 5% 0 5% 0;
	}

	#intro p {
		position: relative; 
		top: 15%; 
		left: 26%;
		width: 40%; 
		margin: 0 0 3% 0;
	}

	#intro p:nth-child(2) {
		font-weight: bold;
	}


#textbike {
	background: #e74c3c url(textbike-bg.png);
	background-size: cover;
	-o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
}

	#textbike h2 {
		margin: 10% 0 0 8%;
		font-size: 3em;
	}
	
	#textbike p {
		margin: 3% 0% 3% 8%;
	}

	#textbike-photo {
		margin: 10% 10% 10% 10%;
		transform: rotate(7deg);
		-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	}

.footer {
	background: #000;
	height: 10%;
	padding: 0.5% 0 0.5% 0;
}

	.footer p {
		margin: 1% 0 1% 0;
		text-align: center;
}	