<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container col-md-9 col-md-offset-1">
		<div class="row footer">

      <ul class="nav navbar-nav navbar-right">
				<li><a href="mailto:jason.corum@gmail.com">CONTACT</a></li>
			</ul>
		</div>
	</div>
</nav>